## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [25]:
import pandas as pd
import numpy as np
import random

In [42]:
num1=random.randrange(20000000, 100000000, 10000)
num2=random.randrange(20000000, 100000000, 10000)
num3=random.randrange(20000000, 100000000, 10000)
num4=random.randrange(20000000, 100000000, 10000)
num5=random.randrange(20000000, 100000000, 10000)
data = {'人口': [num1,num2,num3,num4,num5],
    '國家': ['英國','日本','台灣','美國','澳洲']
     }
list ={num1,num2,num3,num4,num5}


data = pd.DataFrame(data)
display(data)

if (max(list)==num1):
    print('最大人口數 :英國 ', max(list))
elif (max(list)==num2):
    print('最大人口數 :日本 ', max(list))
elif (max(list)==num3):
    print('最大人口數 :台灣 ', max(list))
elif (max(list)==num4):
    print('最大人口數 :美國 ', max(list))
elif (max(list)==num5):
    print('最大人口數 :澳洲 ', max(list))

         人口  國家
0  73270000  英國
1  92540000  日本
2  68600000  台灣
3  73650000  美國
4  56760000  澳洲

最大人口數 :日本  92540000

In [29]:
data3 = {'人口': [num1,num2,num3,num4,num5],
    '國家': ['英國','日本','台灣','美國','澳洲']
       ,'洲':['歐洲','亞洲','亞洲','美洲','大洋洲']}

data3 = pd.DataFrame(data3)
display(data3)
data3.groupby(by="洲")['人口'].mean()

         人口  國家    洲
0  44270000  英國   歐洲
1  69310000  日本   亞洲
2  68060000  台灣   亞洲
3  44650000  美國   美洲
4  80380000  澳洲  大洋洲

洲
亞洲     68685000
大洋洲    80380000
歐洲     44270000
美洲     44650000
Name: 人口, dtype: int64